



<div >
   
   este es el tercer componete empleado.component.html
   
   <p>empleado works! aqui iria un empleado</p>

   <p>Nombre del empleado : {{nombre}}</p>
   <p>Apellido del empleado : {{apellido}}</p>
   <p>Edad del empleado : {{getEdad()<18? "Menor de edad":"Mayor de edad"}}</p>
   <!-- p>Empressa del empleado : {{empresa}}</p-->
   <p>Empressa del empleado : {{empresa.value}}</p>
   
   <!-- con el # creamos variable de plantilla  refernciamos el cuadro de texto con key up desencadenamos la accion despues de levantar una tecla-->
   Introduce la empresa: <input type="text" #empresa (keyup)="0" [disabled]="habilitacionCuadro">

   <br>
   <br>
   {{textoDeregistro}}
   <br>
   

   Registrado  <input type="radio" name="nRegistro" value="si" id="registro" [checked]="usuRegistrado" (click)="setusuarioRegistrado($event)">
   <br>
   No registrado: <input type="radio" name="nRegistro" value="no" (click)="setusuarioRegistrado($event)">


   {{getRegistrousuario()}}

   <!--input type="button" value="Dale!" (click)="llamaEmpresa(empresa.value)"   este boton lo usamos en video 8 interpolacion 2-->

   <br>
   <br>
</div>

