



<div >
   
   este es el tercer componete empleado.component.html
   
   <p>empleado works! aqui iria un empleado</p>

   <p>Nombre del empleado : {{nombre}}</p>
   <p>Apellido del empleado : {{apellido}}</p>
   <p>Edad del empleado : {{getEdad()<18? "Menor de edad":"Mayor de edad"}}</p>
   <!-- p>Empressa del empleado : {{empresa}}</p-->
   <p>Empressa del empleado : {{empresa.value}}</p>
   
   <!-- con el # refernciamos el cuadro de texto-->
   Intropduce la empresa: <input type="text" #empresa>

   <br>
   <br>


   <input type="button" value="Dale!" (click)="llamaEmpresa(empresa.value)">

   <br>
   <br>
</div>

